# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files
*.log
*.status

#Executables
mashmap
mashmap-align
wfmash

#build directories
src/common/wflign/build
build
pgo

#Others
*.bam
*.bai
*.sam
*.bed
wfmash-*
*.cache
*~
\#*
.\#*
src/common/WFA2-lib/bin/
src/wfmash_git_version.hpp
src/common/wflign/src/wflign_git_version.hpp

.idea/
cmake-build-debug/
result
tmp/
.aider*
.env
scerevisiae8*
reads.255bps.paf
