# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files
*.log
*.status

#Executables
mashmap
mashmap-align
wfmash

#build directories
src/common/wflign/build
build

# include directory
include

#Others
*.cache
*~
\#*
.\#*
src/common/WFA/bin/

test/
