# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files
*.log
*.status

#Executables
mashmap
mashmap-align
wfmash

#build directories
src/common/wflign/build
build

#Others
*.cache
*~
\#*
.\#*
src/common/WFA2-lib/bin/
src/wfmash_git_version.hpp

test/
.idea/
cmake-build-debug/
result
.aider*
